@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  padding: 10px;
  /*overflow-y: auto !important;*/
  /*overflow-x: scroll !important;*/

}
.nav{
  margin-left: 40px;
  display: flex;

}
#updatebtn{
  margin-top:9px;
  margin-left:5px;
  margin-right: 18px;
  padding: 5px 5px;
  
}

.card-form {
  width: 290px;
  height: 150px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 5px 0 rgba(1, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

}
.card-form .form-title {
  width: 100%;
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 20px;
  /*font-weight: bold;*/
  background: #27ae60;
  font-size: 14px;
}
.card-form .form-body {
  margin-top: 13px;
  margin-left:25px;

}
.card-form .form-body .row {
  width: 300px;
  position: left;
  text-align: center;
  height: 35px;
  display: block;
  /*font-weight: bold;*/

  justify-content: space-around;
  padding: 1px;
}

.card-form .form-body .row input[type="number"] {
  -webkit-appearance: none;
     -moz-appearance: textfield;
          appearance: none;
  width: 160% !important;
  margin: 10 15px;
  height: 33px;
  text-align: center;
  font-weight: bold !important;
  background:   #D3D3D3;
  margin-left: -8%;
  margin-right: -130% !important;
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  color:  #040100 !important;
}
.card-form .form-footer {
  margin: 10 25px 15px 25px;
  text-align: center;
  padding: 15px 10px;
}
.card-form .form-footer a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  background: #FF3535;
  margin-right: 8px;
  font-size: 12px;
}
.card-form .form-footer span {
  margin-left: 8px;
}

.navbar {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  border-radius: 10 !important;
  padding: 0 15px;
  background-color: #008B8B!important;
}
#back {
  padding: 7.5px;
   margin-top: 1px;
    margin-right: 7px;
     position:relative;
     right:0;
     font-size:30px;
     background-color: darkgrey;
     border-radius: 50%;

}
.warning {background-color: #FF1919;}
.warning:hover {background: #e68a00;}
.button {
  padding: 7.5px;
   margin-top: 1px;
    margin-right: 16px;
    position:relative;
     top: 75;
     background-color: red;
     border-radius: 3px;
}
.glyphicon.glyphicon-alert {

    color: yellow;

}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.padLeft {

    text-align: center;
}
#table {
  display: none;
 
}
#table.active {
  display: block;
}
#graph {
  display: none;
}
#graph.active {
  display: block;
}

/*##########  Mobile view   ##########*/
@media only screen and (max-width: 600px) {

.nav{
  float: left;
}
.navbar {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    border-radius: 0 !important;
    padding: 0 15px;
} 

.card-form {
  width: 300px;
  height: 350px !important;
  
}

 .card-form .form-title {
  width: 100%;
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  height: 135px !important;
  font-weight: bold;
  background: #27ae60;
  font-size: 14px;
}
.card-form .form-body {
  margin-top: 18px;
  margin-left:21px;
}
.card-form .form-body .row {
  position: left;
  text-align: center !important;
  height: 3px;
  display: block;
  font-weight: bold;
  padding-left: 38px!important;
  justify-content: space-around;
  padding: 25px;
}
.card-form .form-body .row input[type="number"] {
  
  width: 135% !important;
  margin: 1 18px;

  height: 40px;
  text-align: center;
  font-weight: bold !important;
 /* background:   !important;*/
  margin-left: -30px;
  margin-right: -60px;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  /*background: #e8ebed;*/
  /*color: #576366;*/
  font-size: 13px;
}

#updatebtn{
  margin-top:1px;
  margin-left: -20px;
  text-align: center;
  height:40px;
  width: 62px;
  padding: 1px 3px;

  font-size: 12px;
} 
#back {
  padding: 7px;
  margin-top: 4px;
  margin-right: 17px;
     position:relative;
     right:0;
     font-size:20px;
     background-color: darkgrey;
     border-radius: 50%;

}
#table {
  display: none;
  font-size:10px !important;
padding: 0px !important;
margin:0px !important;
overflow-x: scroll !important;
/*overflow-y: scroll !important;*/
/*margin-bottom: 100px!important;*/
}
#table.active {
  display: block;
}
#graph {
  display: none;
}
#graph.active {
  display: block;
}


.modebar{
      display: none !important;
}



/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
  background-color: #f2eee8 !important;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}


.bar .title {
  color: #eee;
}

.swipe-cards {
  position: fixed;
}

.swipe-cards {
  position: fixed;
}

.swipe-card {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 250px!important;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.3s ease-out;
}
/*new cardsssssssssssssssss*/



#undo{
  padding: 7px;
  margin-top: 4px;
  margin-right: 17px;
     position:relative;
     right:0;
     font-size:10px!important;
     background-color: darkgrey!important;
     border-radius: 50%;

}

/*new cardsssssssssssssssss*/
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}
}
